body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 320px;
}

input {
  margin: 15px 0;
}

button {
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #0ea5e9;
}
